/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.idea
.idea/*
/app/Console/Templates/Page.js
/app/Console/Templates/Page.js.map
/app/Console/Templates/Config.js
/app/Console/Templates/Config.js.map